<div id="alert" class="alert" style="display: none;">
    <button class="alert__close-btn" onclick="closeAlert()">×</button>
    Комбинация: <br />
    <strong>ALT + ←</strong> и <strong>ALT + →</strong><br />
    переносит все правильные ответы <br />
    в конец списка.
</div>
<script>
    // Проверяем, было ли уведомление уже показано
    if (!localStorage.getItem('alertShown')) {
        document.getElementById('alert').style.display = 'block';
    }

    function closeAlert() {
        document.getElementById('alert').style.display = 'none';
        // Сохраняем информацию о том, что уведомление было показано
        localStorage.setItem('alertShown', 'true');
    }
</script>