<button id="back-to-top">↑</button>
<!-- <script>
    document.addEventListener('DOMContentLoaded', function() {
        const backToTopButton = document.getElementById('back-to-top');
        console.log('Button found:', backToTopButton); // Проверяем, что кнопка найдена
    
        window.addEventListener('scroll', function() {
            console.log('Scroll position:', document.scrollY); // Проверяем значение scrollY
            if (window.scrollY > 300) {
                backToTopButton.style.display = 'flex';
                console.log('Button displayed'); // Проверяем, что кнопка отображается
            } else {
                backToTopButton.style.display = 'none';
                console.log('Button hidden'); // Проверяем, что кнопка скрыта
            }
        });
    
        backToTopButton.addEventListener('click', function() {
            window.scrollTo({top: 0, behavior: 'smooth'});
            console.log('Button clicked'); // Проверяем, что кнопка нажата
        });
    });
</script> -->
