<footer>
    <p>&copy; 2024 PSE</p><p id="question-count"><span id="count">0</span></p>
</footer>
    
    

<script>
    async function fetchData() {
        try {
            const questionResponse = await fetch('/quantity');
            const questionCount = await questionResponse.json();
            document.getElementById('count').textContent = questionCount;

            const duplicateResponse = await fetch('/duplicates_count');
            const duplicateCount = await duplicateResponse.json();
            document.getElementById('duplicates').textContent = duplicateCount;
        } catch (error) {
            console.error('Ошибка при получении данных:', error);
        }
    }

    // Вызываем функцию для получения данных при загрузке страницы
    window.onload = fetchData;
</script>