<header id="header" class="app-header app-header--fixed-top">
    <a id="logo" class="logo" href="/">
        PSE 
    </a>
    <nav class="nav">
        <div class="nav__icon">&#9776;</div>
        <ul class="nav__items">
            {% for item in nav_items %}
            <li class="nav__item">
                <a class="nav--link" href="{{ url_for(item.route) }}">
                    <span class='nav__item--icon'>{{ item.icon }}</span>
                    <span class='nav__item--title'>{{ item.title }}</span>
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>