{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}
<div class="content">
    <h3>Инструкция по использованию:</h3>
    <ol>
        <li>Скопируйте код закладки:
            <button id="copyButton" class="copy-button copy-button__icon"></button>
        </li>
        <li>Создайте новую закладку "Новой вкладки".</li>
        <li>Нажмите на закладку правой кнопкой мыши.</li>
        <li>В контекстном меню выберите "Изменить".</li>
        <li>Вместо URL вставьте скопированный код.</li>
        <li>Название закладки - любое или полностью удалите.</li>
        <li>Войдя в предсменный экзаменатор на любой странице нажмите на закладку</li>
        <li>Далее начинайти прохождение теста</li>
        <li>Для поиска ответа нажмите S</li>
    </ol>

    <h3>Информация по управлению:</h3>
    <ul>
        <li>S - Поиск правильного ответа из база данных</li>
        <li>A - Добавление нового вопроса с ответами в базу данных (постарайтесь ответить правильно)</li>
        <li>D - Обновление вопроса с ответами в базе данных (для исправления ошибочного ответа)</li>
    </ul>

    <h3>Пока не решенные проблемы:</h3>
    <ul>
        <li>При поиске вопроса в базе данных могут найтись дубли - проблема в том, что вопрос возможно искать только по тексту, а не по уникальному значению id.</li>
        <li>Одинаковые вопросы возникают из-за вопросов c картинкой - вопрос может быть одинаковый, а ответы разные</li>
        <li>Одинаковые вопросы могут добавляться пользователем при нажатии кнопки A (нужно будет исправить)</li>
        <li>Ответы могут быть не правильными, в этом случае нужно ответить правильно и обновить ответ</li>
        
    </ul>
</div>
    <script>
        document.getElementById('copyButton').addEventListener('click', function() {
            fetch('/static/scripts/bookmark.new.js')
                .then(response => response.text())
                .then(text => {
                    navigator.clipboard.writeText(text)
                        .then(() => alert('Код скопирован в буфер обмена'))
                        .catch(err => console.error('Ошибка копирования: ', err));
                })
                .catch(error => console.error('Ошибка загрузки скрипта: ', error));
        });
    </script>

{% endblock %}