{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

    <h3>Инструкция по использованию:</h3>
    <ol>
        <li style="display: flex; align-items: center;">
            Скопируйте код закладки:
            <button id="copyButton" class="copy-button copy-button__icon" style="margin-left: 10px;"></button>
            <a href="/static/scripts/bookmark.new.js" target="_blank" style="margin-left: 10px;">Прямая ссылка</a>
        </li>
        <li>Создайте новую закладку "Новой вкладки".</li>
        <li>Нажмите на закладку правой кнопкой мыши.</li>
        <li>В контекстном меню выберите "Изменить".</li>
        <li>Вместо URL вставьте скопированный код.</li>
        <li>Название закладки - любое или полностью удалите.</li>
        <li>Войдя в предсменный экзаменатор на любой странице нажмите на закладку</li>
        <li>Далее начинайти прохождение теста</li>
        <li>Для поиска ответа нажмите S</li>
    </ol>

    <h3>Информация по управлению:</h3>
    <ul>
        <li>S - Поиск правильного ответа из база данных</li>
        <li>A - Добавление нового вопроса с ответами в базу данных (постарайтесь ответить правильно)</li>
        <li>D - Обновление вопроса с ответами в базе данных (для исправления ошибочного ответа)</li>
    </ul>

    <h3>Проблемы:</h3>
    <ul>
        <li>Поиск вопроса по тексту, а не по уникальному номеру id</li>
        <li>Одинаковые вопросы придется все время переписывать, так как по ним будут неправильные ответы</li>
        <li>Добавить одинаковый вопрос невозможно</li>
        <li>Сохранение текстовых вопросов невозможно</li>
        
    </ul>
{% endblock %}