{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<div class="search-container">
    <input type="text" id="search-input" class="search-input" placeholder="Введите текст для поиска">
    <button id="search-button" class="search-button search-button__icon"></button>
</div>
<ul id="search-results"></ul>

<script>
document.getElementById('search-button').addEventListener('click', performSearch);
document.getElementById('search-input').addEventListener('keypress', function(e) {
    if (e.key === 'Enter') {
        performSearch();
    }
});

function performSearch() {
    const searchQuery = document.getElementById('search-input').value;
    fetch(`/search?q=${encodeURIComponent(searchQuery)}`)
        .then(response => response.json())
        .then(data => {
            const searchResults = document.getElementById('search-results');
            searchResults.innerHTML = '';

            if (data.length === 0) {
                // Если нет результатов, выводим сообщение
                const noResultsItem = document.createElement('li');
                noResultsItem.textContent = 'Вопрос не найден.';
                searchResults.appendChild(noResultsItem);
            } else {
                // Если есть результаты, выводим их
                data.forEach(result => {
                    const resultItem = document.createElement('li');
                    resultItem.innerHTML = `
                        <h3>${result.question_text}</h3>
                        <p>Тип вопроса: ${result.question_type || 'Не указан'}</p>
                        <p>Ответы:</p>
                        <ul>
                            ${Array.isArray(result.answers) ? result.answers.map(answer => `<li>${answer}</li>`).join('') : `<li>${result.answers}</li>`}
                        </ul>
                        <p>Правильные ответы:</p>
                        <ul>
                            ${Array.isArray(result.correct_answers) ? result.correct_answers.map(answer => `<li>${answer}</li>`).join('') : `<li>${result.correct_answers}</li>`}
                        </ul>
                        <p>Создан: ${new Date(result.created_at).toLocaleString()}</p>
                        <p>Обновлен: ${new Date(result.updated_at).toLocaleString()}</p>
                    `;
                    searchResults.appendChild(resultItem);
                });
            }
        })
        .catch(error => console.error('Ошибка:', error));
}
</script>

{% endblock %}